@import "tailwindcss";

@font-face {
  font-family: "Inter Display";
  src: url("/Inter-Display.woff2") format("woff2");
  font-display: swap;
}

@layer base {
  :root {
    --sans: "Inter Display", system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: "Inter Display", system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: dark) {
    /* Custom classes go here */
  }

  /* Custom classes go here */
}
